html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 24px;
}

@font-face {
  font-family: "ultralight";
  src: url("font/fontsitesans-ultralight-webfont.eot");
  src: url("font/fontsitesans-ultralight-webfont.eot?#iefix") format("embedded-opentype");
  src: local("☺"), url("font/fontsitesans-ultralight-webfont.ttf") format("truetype"), url("font/fontsitesans-ultralight-webfont.woff") format("woff"), url("font/fontsitesans-ultralight-webfont.svg") format("svg");
}

body {
  color: #FFF;
  font-family: "ultralight";
  font-weight: 300;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(8.78378%, rgba(100, 100, 225, 0.25)), color-stop(8.78378%, rgba(0, 0, 0, 0)), color-stop(10.13514%, rgba(0, 0, 0, 0)), color-stop(10.13514%, rgba(100, 100, 225, 0.25)), color-stop(18.91892%, rgba(100, 100, 225, 0.25)), color-stop(18.91892%, rgba(0, 0, 0, 0)), color-stop(20.27027%, rgba(0, 0, 0, 0)), color-stop(20.27027%, rgba(100, 100, 225, 0.25)), color-stop(29.05405%, rgba(100, 100, 225, 0.25)), color-stop(29.05405%, rgba(0, 0, 0, 0)), color-stop(30.40541%, rgba(0, 0, 0, 0)), color-stop(30.40541%, rgba(100, 100, 225, 0.25)), color-stop(39.18919%, rgba(100, 100, 225, 0.25)), color-stop(39.18919%, rgba(0, 0, 0, 0)), color-stop(40.54054%, rgba(0, 0, 0, 0)), color-stop(40.54054%, rgba(100, 100, 225, 0.25)), color-stop(49.32432%, rgba(100, 100, 225, 0.25)), color-stop(49.32432%, rgba(0, 0, 0, 0)), color-stop(50.67568%, rgba(0, 0, 0, 0)), color-stop(50.67568%, rgba(100, 100, 225, 0.25)), color-stop(59.45946%, rgba(100, 100, 225, 0.25)), color-stop(59.45946%, rgba(0, 0, 0, 0)), color-stop(60.81081%, rgba(0, 0, 0, 0)), color-stop(60.81081%, rgba(100, 100, 225, 0.25)), color-stop(69.59459%, rgba(100, 100, 225, 0.25)), color-stop(69.59459%, rgba(0, 0, 0, 0)), color-stop(70.94595%, rgba(0, 0, 0, 0)), color-stop(70.94595%, rgba(100, 100, 225, 0.25)), color-stop(79.72973%, rgba(100, 100, 225, 0.25)), color-stop(79.72973%, rgba(0, 0, 0, 0)), color-stop(81.08108%, rgba(0, 0, 0, 0)), color-stop(81.08108%, rgba(100, 100, 225, 0.25)), color-stop(89.86486%, rgba(100, 100, 225, 0.25)), color-stop(89.86486%, rgba(0, 0, 0, 0)), color-stop(91.21622%, rgba(0, 0, 0, 0)), color-stop(91.21622%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 8.78378%, rgba(0, 0, 0, 0) 8.78378%, rgba(0, 0, 0, 0) 10.13514%, rgba(100, 100, 225, 0.25) 10.13514%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 29.05405%, rgba(0, 0, 0, 0) 29.05405%, rgba(0, 0, 0, 0) 30.40541%, rgba(100, 100, 225, 0.25) 30.40541%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 49.32432%, rgba(0, 0, 0, 0) 49.32432%, rgba(0, 0, 0, 0) 50.67568%, rgba(100, 100, 225, 0.25) 50.67568%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 69.59459%, rgba(0, 0, 0, 0) 69.59459%, rgba(0, 0, 0, 0) 70.94595%, rgba(100, 100, 225, 0.25) 70.94595%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 89.86486%, rgba(0, 0, 0, 0) 89.86486%, rgba(0, 0, 0, 0) 91.21622%, rgba(100, 100, 225, 0.25) 91.21622%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 8.78378%, rgba(0, 0, 0, 0) 8.78378%, rgba(0, 0, 0, 0) 10.13514%, rgba(100, 100, 225, 0.25) 10.13514%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 29.05405%, rgba(0, 0, 0, 0) 29.05405%, rgba(0, 0, 0, 0) 30.40541%, rgba(100, 100, 225, 0.25) 30.40541%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 49.32432%, rgba(0, 0, 0, 0) 49.32432%, rgba(0, 0, 0, 0) 50.67568%, rgba(100, 100, 225, 0.25) 50.67568%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 69.59459%, rgba(0, 0, 0, 0) 69.59459%, rgba(0, 0, 0, 0) 70.94595%, rgba(100, 100, 225, 0.25) 70.94595%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 89.86486%, rgba(0, 0, 0, 0) 89.86486%, rgba(0, 0, 0, 0) 91.21622%, rgba(100, 100, 225, 0.25) 91.21622%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 8.78378%, rgba(0, 0, 0, 0) 8.78378%, rgba(0, 0, 0, 0) 10.13514%, rgba(100, 100, 225, 0.25) 10.13514%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 29.05405%, rgba(0, 0, 0, 0) 29.05405%, rgba(0, 0, 0, 0) 30.40541%, rgba(100, 100, 225, 0.25) 30.40541%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 49.32432%, rgba(0, 0, 0, 0) 49.32432%, rgba(0, 0, 0, 0) 50.67568%, rgba(100, 100, 225, 0.25) 50.67568%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 69.59459%, rgba(0, 0, 0, 0) 69.59459%, rgba(0, 0, 0, 0) 70.94595%, rgba(100, 100, 225, 0.25) 70.94595%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 89.86486%, rgba(0, 0, 0, 0) 89.86486%, rgba(0, 0, 0, 0) 91.21622%, rgba(100, 100, 225, 0.25) 91.21622%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 8.78378%, rgba(0, 0, 0, 0) 8.78378%, rgba(0, 0, 0, 0) 10.13514%, rgba(100, 100, 225, 0.25) 10.13514%, rgba(100, 100, 225, 0.25) 18.91892%, rgba(0, 0, 0, 0) 18.91892%, rgba(0, 0, 0, 0) 20.27027%, rgba(100, 100, 225, 0.25) 20.27027%, rgba(100, 100, 225, 0.25) 29.05405%, rgba(0, 0, 0, 0) 29.05405%, rgba(0, 0, 0, 0) 30.40541%, rgba(100, 100, 225, 0.25) 30.40541%, rgba(100, 100, 225, 0.25) 39.18919%, rgba(0, 0, 0, 0) 39.18919%, rgba(0, 0, 0, 0) 40.54054%, rgba(100, 100, 225, 0.25) 40.54054%, rgba(100, 100, 225, 0.25) 49.32432%, rgba(0, 0, 0, 0) 49.32432%, rgba(0, 0, 0, 0) 50.67568%, rgba(100, 100, 225, 0.25) 50.67568%, rgba(100, 100, 225, 0.25) 59.45946%, rgba(0, 0, 0, 0) 59.45946%, rgba(0, 0, 0, 0) 60.81081%, rgba(100, 100, 225, 0.25) 60.81081%, rgba(100, 100, 225, 0.25) 69.59459%, rgba(0, 0, 0, 0) 69.59459%, rgba(0, 0, 0, 0) 70.94595%, rgba(100, 100, 225, 0.25) 70.94595%, rgba(100, 100, 225, 0.25) 79.72973%, rgba(0, 0, 0, 0) 79.72973%, rgba(0, 0, 0, 0) 81.08108%, rgba(100, 100, 225, 0.25) 81.08108%, rgba(100, 100, 225, 0.25) 89.86486%, rgba(0, 0, 0, 0) 89.86486%, rgba(0, 0, 0, 0) 91.21622%, rgba(100, 100, 225, 0.25) 91.21622%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
  background-image: url(../images/black_linen_v2.png);
}

input, button {
  -webkit-appearance: caret;
  font-family: "ultralight";
}

#time-panel {
  width: 39.18919%;
  float: right;
  margin-right: 0;
  *margin-left: -1em;
  display: inline;
  *zoom: 1;
  margin-top: 28px;
  font-size: 5em;
  line-height: 1;
}
#time-panel:after {
  content: "";
  display: table;
  clear: both;
}

#timer {
  width: 100%;
  float: left;
  margin-right: 1.35135%;
  display: inline;
  height: 300px;
  margin-top: -150px;
  position: absolute;
  top: 50%;
  height: 300px;
  line-height: 300px;
  text-align: center;
  font-size: 400px;
}
#timer input {
  width: 450px;
  background-color: transparent;
  color: #eee;
  height: 400px;
  line-height: 300px;
  text-align: left;
  font-size: 300px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -20px;
}
#timer > div {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#timer.left-1-minute {
  -webkit-animation: left-1-minute 5s;
  -moz-animation: left-1-minute 5s;
  -ms-animation: left-1-minute 5s;
  -o-animation: left-1-minute 5s;
  animation: left-1-minute 5s;
}
#timer.left-30-second {
  -webkit-animation: left-30-second 5s;
  -moz-animation: left-30-second 5s;
  -ms-animation: left-30-second 5s;
  -o-animation: left-30-second 5s;
  animation: left-30-second 5s;
}
#timer.left-10-second {
  -webkit-animation: left-10-second 2s infinite;
  -moz-animation: left-10-second 2s infinite;
  -ms-animation: left-10-second 2s infinite;
  -o-animation: left-10-second 2s infinite;
  animation: left-10-second 2s infinite;
}

@-moz-keyframes left-1-minute {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #333;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-webkit-keyframes left-1-minute {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #333;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-o-keyframes left-1-minute {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #333;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-ms-keyframes left-1-minute {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #333;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@keyframes left-1-minute {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #333;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-moz-keyframes left-30-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-webkit-keyframes left-30-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-o-keyframes left-30-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-ms-keyframes left-30-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@keyframes left-30-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
  }
}

@-moz-keyframes left-10-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
    position: relative;
    left: 3px;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
    position: relative;
    left: -3px;
  }
}

@-webkit-keyframes left-10-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
    position: relative;
    left: 3px;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
    position: relative;
    left: -3px;
  }
}

@-o-keyframes left-10-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
    position: relative;
    left: 3px;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
    position: relative;
    left: -3px;
  }
}

@-ms-keyframes left-10-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
    position: relative;
    left: 3px;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
    position: relative;
    left: -3px;
  }
}

@keyframes left-10-second {
  0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
    color: #EF1100;
    position: relative;
    left: 3px;
  }

  5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
    color: #FFF;
    position: relative;
    left: -3px;
  }
}

#control-panel {
  position: absolute;
  bottom: 1px;
}
#control-panel button {
  display: block;
  width: 100px;
  margin: 10px;
  padding: 5px 10px;
  background-color: #eee;
  color: #333;
  border: none;
  font-family: "ultralight";
  font-size: 20px;
}
